{{define "title"}}About{{end}}

{{define "main"}}
    <h2>About</h2>
    <p>Excepturi culpa maiores dolor non sit voluptate. Adipisci dolor veniam occaecati vel. Corrupti provident repellendus sapiente veritatis rem perferendis. Et consectetur consequatur in. Hic iste deserunt nulla pariatur dolores exercitationem adipisci quia.</p>
    <p>Culpa consequatur a voluptate. Ullam ipsum consequatur rerum et consequatur. Voluptas sed consequatur aliquam dolores.</p>
{{end}}

